* {
    box-sizing: border-box;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
    width: 200% !important;
    margin: 0px !important;
  }
  
 /* For mobile phones: */
 [class*="col-"] {
  float: left;
  padding: 15px;
}
  
  @media only screen and (max-width: 786px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50% !important;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .row .col-s-12 {
      width: 100% !important;
      flex: 1 0 100% !important;
    }
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
   
/***************************************************************/
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: contrast(1.5) brightness(0.5) saturate(1.5);
  }
  
  .image-overlay {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(151, 188, 207, 0.5);
  }

.inner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%; /* Adjust the width as needed */
  background-image: url(bg.jpg);
  background-size: 100% 100%; /* optional */
  background-position: center; 
  justify-content: center;
  align-items: center;
  box-shadow: -1px 10px 14px rgba(0, 0, 0, 0.1);
  }
.form-container {
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

.datetime-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* adjust the gap to your liking */
}

.datetime-container > div {
  flex: 1;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
   resize: vertical;
   overflow: auto;
}

input:focus, textarea:focus {
    border-color: #007BFF;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #f6bdbd;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #dfaeae;
}

.error-message {
    color: #cc8080;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 2px;
}

.right{
  margin-top: 50px;
  width: 440px;
  height: 440px;
  background-image: url('food.jpg');
  background-size:cover;
  border-radius: 400px;
  display: flex;
  justify-content: center;
  align-items:center;
}
.right::before{
 
  width: 430px;
  height: 430px;
  border:2px solid white;
  content: '';
  position: absolute;
  border-radius: 430px;
  padding:10px;
}

@media only screen and (max-width: 768px) {
  .inner-div {
    width: 90%; 
    }
  .right {
     width: 300px;
     height: 300px;
     border-radius: 250px;
   }
  .right::before {
     width: 290px;
     height: 290px;
     border-radius: 250px;
   }
 }
 
 /* Mobile view (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .col-s-6, .col-6{
    width: 100% !important;
  }
  .inner-div {
    width: 95%; 
  }
  .form-container {
    padding: 10px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  input, textarea {
    padding: 5px;
  }
  button {
    width: 100%;
    padding: 5px;
    font-size: 14px;
  }
  .row .col-s-6.col-6:nth-child(2) {
    display: none;
  }
  
}